.header {
    margin-bottom: 50px;
    &__main {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
        &::before {
            content: '';
            width: 100%;
            border-bottom: 2.5px solid black;
            position: absolute;
            bottom: -10px;
        }
        &::after {
            content: '';
            width: 100%;
            border-bottom: 5px solid black;
            position: absolute;
            bottom: -20px;
        }
    }
    &__text {
        width: 50%;
    }
    &__forms {
        width: 50%;
    }
    &__form {
        display: flex;
        justify-content: flex-end;
    }
}